/* Em seu arquivo CSS ou em um estilo global */
.vertical-timeline::before {
  background: #42a96d;
}

.vertical-timeline-element-content {
  box-shadow: none !important;
}

.vertical-timeline-element-icon {
  box-shadow: none !important;
}
