@media screen and (max-width: 1200px) {
    .layout-screen {
        width: 80%;
        height: 50%;
    }

    .padding-right { 
        padding-right: 0px;
    }

}

@media screen and (max-width: 950px) {
    .photo-screen {
        width: 10px;
        height: 10px;
        display: none;
    }


} 


